---
import type { ProjectCardProps } from "src/types/project";

interface Props extends ProjectCardProps {}

const {
  title,
  short_description,
  image,
  website,
  github_repo,
  languages,
} = Astro.props;
---

<div
  class="flex flex-col gap-4 p-4 rounded-lg border-2 bg-secondary-bg text-black border-primary-accent shadow-lg shadow-primary-accent hover:border-secondary-accent transition-colors"
>
  <img src={image} alt={title} class="rounded-lg" />
  <h3 class="text-2xl font-bold text-primary-bg">{title}</h3>
  <p>{short_description}</p>
  <div class="flex gap-4">
    <a href={website} target="_blank">View Project</a>
    <a href={github_repo} target="_blank">GitHub</a>
  </div>
  <div class="flex gap-2 mt-2">
    {
      languages.map((tech) => (
        <span class="bg-primary-accent text-white px-2 py-1 rounded-md text-sm">
          {tech}
        </span>
      ))
    }
  </div>
</div>
